.u_likeit_list_btn .u_ico{
    background: url(https://static-jr.pstatic.net/jrweb2020/img/likeit_jrnaver/sp_Link_btn.png) no-repeat;
    background-size: 185px 105px;
    -webkit-background-size: 190px 125px;
}
.u_likeit_list_module.jr_likeit{
    display:none;
}
.u_likeit_list_module.jr_likeit[data-loaded="1"]{
    display: block;
}
.u_likeit_list_module .u_likeit_list_btn{
    display: block;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.u_likeit_list_module .u_likeit_list_btn .u_txt {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    clip: rect(0 0 0 0);
}
.u_likeit_list_module .u_likeit_list_btn .u_ico{
    position: relative;
    display: inline-block;
    background-position: -127px -60px;
    width: 34px;
    height: 34px;
    vertical-align: top;
}
.u_likeit_list_module .u_likeit_list_btn[aria-pressed="true"] .u_ico{
    background-position: -92px -60px;
    width: 34px;
    height: 34px;
}

.u_likeit_list_module .u_likeit_list_btn.type_45 .u_ico{
    background-position: 0px -60px;
    width: 45px;
    height: 45px;
}
.u_likeit_list_module .u_likeit_list_btn.type_45[aria-pressed="true"] .u_ico{
    background-position: -46px -60px;
    width: 50px;
    height: 45px;
}
.u_likeit_list_module .u_likeit_list_btn .u_ico .like_effect {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translate3d(-50%, 20px, 0);
    pointer-events: none;
    z-index: 300;
}
.u_likeit_list_module .u_likeit_list_btn .u_ico .like_icon {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate3d(-50%, 50%, 0);
    pointer-events: none;
}
